@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-header1: #7338ac;
    --bg-header2: #635ad9;
    --color3: #219be4;
    --color4: #88f4ff;
    --color-negro: #000;
    --color-negro--difuminado: rgba(0, 0, 0, 0.208);
    --color-blanco: #fff;
}

body{
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to top, var(--bg-header1), var(--bg-header2));
    box-shadow: 0px 0px 8px 5px var(--color-negro--difuminado);
    color: var(--color-blanco);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.nav__links{
    display: flex;
    transition: transform .5s;
    height: 100%;
}
.nav__item{
    position: relative;
    height: 100%;
    --clipi: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}
.nav__item:hover{
    --clipi: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
    background-color: var(--color3);
}
.nav__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}
.nav__sublinks{
    clip-path: var(--clipi);
    transition: clip-path .3s;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    background-color: var(--bg-header2);
}
.nav__subitem{
    width: 100%;
}
.nav__sublink{
    font-weight: 500;
    color: var(--color-blanco);
    display: block;
    width: 100%;
}
.nav__sublink--inside{
    padding: 30px 110px 30px 20px;
    border-block-color: unset;
}
.nav__sublink--inside:hover{
    background-color: var(--bg-header1);
}
.nav__link,
.nav__logo{
    color: var(--color-blanco);
}
.nav__logo{
    font-weight: 600;
}
.nav__link{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.menu__hamburguesa{
    display: none;
}

@media (max-width:768px){
    .menu__hamburguesa{
        display: flex;
    }
    .nav__item{
        --clipi: 0;
        overflow: hidden;
    }
    .nav__links{
        position: fixed;
        top: 70px;
        right: 0;
        bottom: 0;
        max-width: 400px;
        width: 100%;
        background-color: var(--bg-header2);
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
    }
    .nav__link{
        padding: 30px 0;
        padding-left: 30px;
        height: auto;
    }
    .nav__arrow{
        margin-left: auto;
        margin-right: 30px;
    }
    .nav__sublinks{
        position: unset;
        display: grid;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }
    .nav__sublink{
        color: var(--color-blanco);
    }
    .nav__sublink--inside{
        width: 90%;
        margin-left: auto;
        border-left: 2px solid var(--color3);
    }
}